
- flash.each do |name, msg|
  .row
    .large-12.columns
      %div{class: flash_class(name) }
        = msg
.row
  .large-12.columns
    .large-5.columns
      = form_for @group, url: admin_group_path(@group.cn), method: :put do |f|
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix
              DN
          .small-9.columns
            = f.text_field :dn, disabled:true
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix
              CN
          .small-9.columns
            = f.text_field :cn, disabled:true
          = field_error_message(@group, :cn)
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix
              Gid Number
          .small-9.columns
            = f.text_field :gidnumber
          = field_error_message(@group, :gidnumber)
        .row.collapse.prefix-radius
          %label
            %span.prefix
              Description
            = f.text_area :description
          = field_error_message(@group, :description)
        .row.collpase.prefix-radius
          .small-12.columns
            ObjectClass
            %ul.disc
              - @group.objectclass.each do |objectclass|
                %li
                  = objectclass
        = f.button "Update"
    .large-7.columns
      .row
        = form_for Ldap::GroupMember.new, url: admin_group_groups_members_path(@group.cn), method: :post do |f|
          .small-9.columns
            = f.text_field :dn
          .small-3.columns
            = button_tag "Add", class:"postfix"
      - @group.uniquemember.each do |member|
        .row
          .small-9.columns
            = member
          .small-3.columns
            = form_for Ldap::GroupMember.new, url: admin_group_groups_members_path(@group.cn), method: :delete do |f|
              = f.hidden_field :dn, value: member
              = f.button "Remove", class:"button tiny alert", data: { confirm: "#{t('ldap.group.member.remove_are_you_sure')} #{member}?" }
